.settingTab#SettingTabAxisGeometry.open
    .title
    .closer.i.material-icons(onclick='openSettingTab()') close
    .graphic
        .desc
            .head SIDAL 123
            .body SIGMA : !@#<br>Mean : @!#
        .field
    .controller
        .name Power
        .component
            input(type='range',data-name='power' min='1' max='50').slider#axis-controller-power
        .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .controller
        .name Space
        .component
            input(type='range',data-name='spacing' min='1' max='50').slider#axis-controller-space
        .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .controller
        .name Position
        .component
            input(type='range',data-name='spacing_center' min='0.1' max='0.9' step=0.1).slider#axis-controller-weight
        .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .axis-controller.clear.i.material-icons#axis-controller-clear refresh
