.settingTab#SettingTabAxisVisibility
    .title
    .closer.i.material-icons(onclick='openSettingTab()') close
    //.header Axis List
    .list.axis
        .item.click
            .visible.i.material-icons visibility
            .weight 3.2
            .text Testing Axis Argument