//
   Created by hyunwoo on 2017-02-23.
.nav
    .logo.i.material-icons whatshot
    .header 3D Radvis
    .rightGroup
        .logined
            .userIcon
            .userAccount
        .logouted

#toast
    .text ASDFASDF
    .closer.i.material-icons close

.dialogWrapper
    .dialog
        .text
        .actionGroup
            .pos
            .neg

link(rel='stylesheet', href='/stylesheets/uiStatics/uiStatics.css')
script(src='/uiStaticFunctions/uiStatics.js')





