//
   Created by hyunwoo on 2017-02-23.
.nav
    .logo.i.material-icons whatshot
    .header 3D Radvis
    .rightGroup
        .logined
            .userIcon
            .userAccount
        .logouted

#toast.open
    .text ASDFASDF
    .closer.i.material-icons close

.dialogWrapper
    .dialog
        .title
        .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        .actionGroup
            .pos POSITIVE
            .neg NEGATIVE

link(rel='stylesheet', href='/stylesheets/uiStatics/uiStatics.css')
script(src='/uiStaticFunctions/uiStatics.js')





