//
   Created by hyunwoo on 2017-02-23.
.nav
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" />
    .logo.i.material-icons(onclick='location.href="/"') whatshot
    .header(onclick='location.href="/"') 3D Radvis
    .rightGroup
        .logined.hide
            .name.userName h.hyunwoo@gmail.com
            .button#signoutButton SignOut
            //.icon.i.fa.fa-sign-out
        .logouted.hide
            .icon.i.fa.fa-google#signinButton
            //.icon.i.material-icons mail

#toast.open
    .text ASDFASDF
    .closer.i.material-icons close

#dialogWrapper
    .dialog
        .title
        .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        .content
        .actionGroup
            .pos POSITIVE
            .neg NEGATIVE
#rad-view
    .i.material-icons.handle drag_handle
    .head 3dRadvis Axis Preview
    .i.material-icons#preview-closer close
    svg#preview-svg
.modalWrapper#modalDimensionFieldMaker
    .modal
        .closer.i.material-icons close
        .info.i.material-icons info_outline
        .usage
            .header Dimension Field Creator
            .list#usage-dimension
        .modal-field
            .modal-title Dimension Field Setting
            .tab
                .step(for=0).select
                    .head Field Summary
                .step(for=1)
                    .head Dimension Impact
                .step(for=2)
                    .head Correlation ScatterPlot
                .step(for=3)
                    .head Correlation Network
            .content(page=0).select
                .header Dimension Field Name
                input#DFName
                //.header Dimension Field Name
                //.text 데이터의 변수 중 자동적으로 <strong>3개</strong> 변인의 중요도가 높다고 판단하였습니다.
                .header Recommend Dimension
                .group#summary-recommend-dimension
            .content(page=1)
                .list.axis
                    .title
                        .axis name
                        .detail -
                        .value mean
                        .value min
                        .value max
                        .value sigma
                        .impact Impact Neg
                        .impact Impact Pos
                .list.axis#axisListSelector
                    .item
                        .check
                            .i.material-icons check_box
                        .axis background_education_year
                        .value numeric
                        .value 1.3
                        .value 0.53
                        .value 2.5
                        .value 2.0
                        .value 3.2
                        .impacts
            .content(page=2)
                #correlationGraph.correlation-bg
            .content(page=3)
                #componentNetwork
                .network#correlationNetwork
        .footer
            .action.i.material-icons info_outline
            .action.right Create
            .action.right Cancel
            .action.right#rad-view-opener Show Preview Field

.loader#globalLoader
    .boxLoading
    .text ASDF


link(rel='stylesheet', href='/stylesheets/uiStatics/uiStatics.css')
script(src='/uiStaticFunctions/uiStatics.js')
script(src='/uiStaticFunctions/modal.js')




