//
   Created by hyunwoo on 2017-02-23.
.nav
    .logo.i.material-icons(onclick='location.href="/"') whatshot
    .header(onclick='location.href="/"') 3D Radvis
    .rightGroup
        .logined.hide
            .name.userName h.hyunwoo@gmail.com
            .button#signoutButton SignOut
            //.icon.i.fa.fa-sign-out
        .logouted.hide
            .icon.i.fa.fa-google#signinButton
            //.icon.i.material-icons mail

#toast.open
    .text ASDFASDF
    .closer.i.material-icons close

#dialogWrapper
    .dialog
        .title
        .text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        .content
        .actionGroup
            .pos POSITIVE
            .neg NEGATIVE
.modalWrapper#modalDimensionFieldMaker
    .modal
        .title Create Dimension Field
            .closer.i.material-icons close
        .content(page=01)
            .header Dimension Field Name
            input
            .header Dimension Field Overview
            textarea
            .header Choose Usage Axises
            .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .list.axis
                .title
                    .axis name
                    .value type
                    .value mean
                    .value min
                    .value max
                    .value center
                    .value sigma
            .list.axis
                .item
                    .checkbox.checked.i.material-icons check_box_outline_blank
                    .axis background_education_year
                    .value numeric
                    .value 1.3
                    .value 0.53
                    .value 2.5
                    .value 2.0
                    .value 3.2
                .item
                    .checkbox.unchecked.i.material-icons check_box
                    .axis background_education_year
                    .value numeric
                    .value 1.3
                    .value 0.53
                    .value 2.5
                    .value 2.0
                    .value 3.2

        .footer
            .pos.i.material-icons navigate_next
            .neg.i.material-icons navigate_before

.loader#globalLoader
    .boxLoading


//.loader.small
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
        g.anim-0
            circle(cx='50', cy='50', r='50', fill='#ff5e7C')
        g.anim-1
            circle(cx='50', cy='50', r='5', fill='white')
        g.anim-2
            circle(cx='75', cy='50', r='5', fill='white')
            line(x1='25', y1='50', x2='75', y2='50', stroke='white', stroke-width='3')
        g.anim-3
            circle(cx='50', cy='25', r='5', fill='white')
            line(x1='50', y1='25', x2='25', y2='75', stroke='white', stroke-width='3')
            line(x1='50', y1='25', x2='75', y2='75', stroke='white', stroke-width='3')
        g.anim-4
            circle(cx='75', cy='25', r='5', fill='white')
            line(x1='75', y1='25', x2='25', y2='25', stroke='white', stroke-width='3')


link(rel='stylesheet', href='/stylesheets/uiStatics/uiStatics.css')
script(src='/uiStaticFunctions/uiStatics.js')
script(src='/uiStaticFunctions/modal.js')




