extends layout
block content
    include ./includes/uiStatics

    link(rel='stylesheet', href='/stylesheets/ui/index.css')

    .dataListViewer
        .dataList
            .listTitle Data List
                .dataUploadButton(for='uploadTest')#DataListUploadFile
                    .text Upload
            .list
                //.item
                    .parentItem Test Item
                    .showChildList.i.material-icons more_vert
                    .childList
                        .childItem Test Child Item
                        .childItem Test Child Item



            //.bottom(for='uploadTest')#DataListUploadFile
                .icon.i.material-icons file_upload
                .text Upload Data
            input(type='file')#DataListUploadFileInput
        .viewer
            .listTitle Info
            .descGroup
                .desc Data Overview
                .icon.i.material-icons#descModifier mode_edit
            .input.visible 데이터 업로드 테스트를 위한 테스트 데이터 입니다
            textarea
            .additionInfo
                .item#dataListDate 2017-06-07
                .item#dataListType CSV
                .item#dataListSize 3MB
            .bottom
                .button.i.material-icons add
                .button.i.material-icons#dataListDelete delete


    script(src='/ui/index.js')
    script.
        var data = [{
            _id: '-asdf',
            name: 'DataTest',
            date: 'date here',
            type: 'type',
            size: 'asdf',
            overview: 'OverView Here',
            info: {},
            child: [{
                _id: '-1',
                overview: '',
                name: 'Test 01',
                info: {}
            }, {
                _id: '-2',
                overview: '',
                name: 'Test 02',
                info: {}
            }],
        }]

        setTimeout(function () {
            __IndexDataList.createDataList(data);
            __Firebase.on('child_added', function (d) {
                __IndexDataList.addDataList(d);
            });

            __Firebase.on(__Firebase.EventName.ChildRemoved, function (d) {
                __IndexDataList.deleteDataList(d);
            })
        }, 1000);