extends layout
block content
    include ./includes/uiStatics

    link(rel='stylesheet', href='/stylesheets/ui/index.css')
    script(src='/ui/index.js')

    .dataListViewer
        .dataList
            .listTitle Name
            .list
        .viewer
            .listTitle Info
            .descGroup
                .desc Data Overview
                .icon.i.material-icons#descModifier mode_edit
            .input.visible Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies risus quis dui vulputate laoreet. Aliquam imperdiet velit quis tellus blandit volutpat. Aliquam molestie magna lacus, et faucibus eros semper luctus. Sed tincidunt, metus et interdum mollis, diam risus viverra nisi, vel dictum sem elit a tortor
            textarea



    script.
        createDataList(['Data Name1', 'Data Name2', 'Data Name3']);

        var controller = $('#descModifier');
        $(controller).click(controlDesc);