extends layout
block content
    include ./includes/uiStatics
    link(rel='stylesheet', href='/stylesheets/ui/index.css')
    .nav-spacer
    .page
        .grid
            .cell.grid-12
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS

        .grid
            .cell.grid-7
                .header
                    .text
                    .action.i.material-icons add
            .cell.grid-5
                .header
                    .text
                    .action.i.material-icons info_outline
    .page
        .grid
            .cell.grid-12
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS
        .grid
            .cell.grid-5
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS
            .cell.grid-4
                .header
                    .text ASDFASDF
                    .action A
                    .action B
            .cell.grid-3
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS
        .grid
            .cell.grid-7
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS
            .cell.grid-5
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS





    script(src='/ui/index.js')
    script.
        var data = [{
            _id: '-asdf',
            name: 'DataTest',
            date: 'date here',
            type: 'type',
            size: 'asdf',
            overview: 'OverView Here',
            info: {},
            child: [{
                _id: '-1',
                overview: '',
                name: 'Test 01',
                info: {}
            }, {
                _id: '-2',
                overview: '',
                name: 'Test 02',
                info: {}
            }],
        }]

        /*
         setTimeout(function () {
         __IndexDataList.createDataList(data);
         __Firebase.on('child_added', function (d) {
         __IndexDataList.addDataList(d);
         });
         __Firebase.on(__Firebase.EventName.ChildRemoved, function (d) {
         __IndexDataList.deleteDataList(d);
         })
         }, 1000);*/