extends layout
block content
    include ./includes/uiStatics
    link(rel='stylesheet', href='/stylesheets/ui/index.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto:100, 300,400,500,700", rel="stylesheet")

    .nav-spacer
    input#inputFileUpload(style='display:none' type='file')

    .loader
        .boxLoading
    //.page
        .grid
            .cell.grid-12#gridSiteInfo
                .header
                    .text.title Making the Data Set Freely
                    .actions
                        //.action.i.material-icons info
                .contents.title Our goal is to make that process simple, by offering an intuitive and robust directory of open source designer web fonts. By using our extensive catalog, you can share and integrate typography into any design project seamlessly
        .grid
            .cell.grid-7#gridDataList
                .header
                    .text Data List
                    .actions
                        .action.i.material-icons add
                .contents
                    .item Data Example. <small>2012.12.12</small>
                    .item Data Example. <small>2012.12.12</small>
                    .item Data Example. <small>2012.12.12</small>
            .cell.grid-5#gridOverview
                .contents
                    .addition-info
                        .title Usage
                        .jumbo 3.25 <small>MB</small>
                        //.desc Number of times Google Fonts API served Mada over the last week. Mada is featured in more than 1,374 websites.
                        .desc-small Number of times Google Fonts API served Mada over the last week. Mada is featured in more than <action>1,374 websites.</action>
        .grid
            .cell.grid-12#gridDataOverview
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS
        .grid
            .cell.grid-5#gridDataDescription
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS
            .cell.grid-4#gridDataInfo
                .header
                    .text ASDFASDF
                   .action A
                    .action B
            .cell.grid-3#gridDataAddition
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS
        .grid
            .cell.grid-7#gridDataChildList
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS
            .cell.grid-5#gridDataChildInfo
                .header
                    .text ASDFASDF
                    .action A
                    .action B
                .contents HERE CONTENTS



    script(src='/ui/index.js')
    script.
        $(function () {
            __FileReader.InputReadFile($('#inputFileUpload'), __Firebase.uploadData);
        })
