extends layout
block content
    <script src="/data/joongang_alcohol.js"></script>
    include ./includes/uiStatics
    #network
    <script src="/test.joongang_alcohol.js"></script>
    link(rel='stylesheet', href='/stylesheets/test/joongang_alcohol.css')