doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/ui/radvis.css')
        link(rel='stylesheet', href='/stylesheets/ui/tab.setting.css')
        link(rel='stylesheet', href='/stylesheets/ui/tab.side.css')

        link(rel='stylesheet', href='/material-icons/css/material-icons.min.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='/material-design-icons/iconfont/material-icons.css')
        //link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/global.contextmenu.css')


        link(rel='stylesheet', href='/stylesheets/component/component.slider.css')
        link(rel='stylesheet', href='/stylesheets/component/component.dropdown.css')
        link(rel='stylesheet', href='/stylesheets/component/component.list.css')

        script(src='/node-uuid/uuid.js')





        script(src='/jquery/dist/jquery.min.js')
        script(src="/javascripts/jquery-ui.min.js")
        script(src='/util.js')



        script(src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js")
        script(src='/three/examples/js/libs/dat.gui.min.js')
        script(src='/three/build/three.min.js')
        script(src='/three/examples/js/renderers/Projector.js')
        script(src='/three/examples/js/renderers/CanvasRenderer.js')
        script(src='/three/examples/js/controls/OrbitControls.js')
        script(src='/three/examples/js/libs/stats.min.js')
        script(src='/three/examples/js/controls/TrackballControls.js')
        script(src='/rx/dist/rx.all.js')
        script(src='/lodash/lodash.min.js')
        script(src='/lodash-math/lodash.math.js')
        script(src='/ui/global.contextmenu.js')

        script(src='/ui/tab.side.js')


        // Components
        script(src='/component/component.base.js')
        script(src='/component/component.slider.js')
        script(src='/component/component.dropdown.js')
        script(src='/component/component.list.js')

        script(src='/firebase.wrapper.js')
        // FONT
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        style.
            body {
                font-family: 'Roboto', sans-serif;
            }
        // UI Components

        //script(src='/simple-color-picker/src/index.js')
        //link(rel='stylesheet', href='/simple-color-picker/src/simple-color-picker.css')

    //
    body(oncontextmenu="return false")
        .contextmenu-wrapper
            .contextmenu
        //.context-window-wrapper
            .context-window
                .header AAA
                .closer.i.material-icons close
                .content.AxisSetting

        block content
