extends layout
block content
    // soo
    .nav
        .logo.i.material-icons whatshot
    .tabWrapper(oncontextmenu="return false")
        .tab.open
            .spacer
            .tabItemWrapper
                .selectBorder
                .tabItem.i.material-icons home
                .tabItemName Overview
            .separater
                .text Global Setting
            .tabItemWrapper(for='SettingTabAxisVisibility')
                .selectBorder
                .tabItem.i.material-icons view_week
                .tabItemName Axis Usage
            .tabItemWrapper(for='SettingTabAxisGeometry')
                .selectBorder
                .tabItem.i.material-icons view_week
                .tabItemName Axis Geometry
            .tabItemWrapper(for='SettingTabNodesGeometry')
                .selectBorder
                .tabItem.i.material-icons toll
                .tabItemName Node Geometry
            .tabItemWrapper(for='SettingTabColor')
                .selectBorder
                .tabItem.i.material-icons format_color_fill
                .tabItemName Unique
            .separater
                .text Cluster Analytics
            .separater
                .text Time Series Setting
            .tabBottom
                .text foxtail ©
                .tabOpener.i.material-icons chevron_right
        include sidetab/axisUsage
        include sidetab/axisGeometry

        .settingTab#SettingTabNodesGeometry
            .title
            .closer.i.material-icons(onclick='openSettingTab()') close
            .controller
                .name Node Size
                .component
                    input(data='setting' type='range', data-name='Radvis NodeSize'
                    update='__RadvisController.updateNodes()' min='5' max='100' step=0.1).slider
                .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .controller
                .name Position Scaling
                .component
                    input(data='setting' type='range', data-name='Radvis NodeScale'
                    update='__RadvisController.updateNodes()' min='0' max='5' step=0.1 value=1.5).slider
                .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .settingTab#SettingTabColor
            .title

    .actions
        .options Axis
            .button#axisColorApplier ASDF
    #rendererRadvis
    //#rendererParallel

    script(src='/setting.js')
    script(src='/radvis.data.js')
    script(src='/radvis.node.js')
    script(src='/radvis.axis.js')
    script(src='/radvis.core.js')
    script(src='/parallel.axis.js')
    script(src='/parallel.core.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type="x-shader/x-vertex" id="vertexshader").
        attribute float size;
        attribute vec3 customColor;
        varying vec3 vColor;
        void main() {
            vColor = customColor;
            vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
            gl_PointSize = size * ( 300.0 / -mvPosition.z );
            gl_Position = projectionMatrix * mvPosition;
        }

    script(type="x-shader/x-fragment" id="fragmentshader").
        uniform vec3 color;
        uniform sampler2D texture;
        varying vec3 vColor;
        void main() {
            gl_FragColor = vec4( color * vColor, 1.0 );
            gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );
        }

    script.
        $('.tabOpener').click(openTab);

        function openTab(){
            if(!$('.tab').hasClass('open')) $('.tab').addClass('open');
            else $('.tab').removeClass('open');
        }

        $('.tabItemWrapper').click(openSettingTab)

        function openSettingTab(){
            $('.tabItemWrapper').removeClass('click')
            var $this = $(this);
            $this.addClass('click')
            var $target = $('#'+$this.attr('for'));
            console.log($target);


            if(!$target.hasClass('open')) {
                $('.settingTab').removeClass('open');
                $target.addClass('open');
                $target.find('.title').html($this.find('.tabItemName').html())
            } else {
                $('.settingTab').removeClass('open');
                $this.removeClass('click')
            }

        }

    style.




