extends ../layout
block content

    .tpp
        .component
            .name Slider Name
            .slider
                .point
                    .num 30
                        .pin
                .bar
                .min 20
                .max 100

            .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    style.
        .tpp {
            width: 300px;
            margin: 100px auto;
        }


    //<div class="range-slider" id="range-slider-1">
    //<span></span>
    //</div>
    //
    //<div class="test-result" id="test-result">0%</div>
    script(src='/component/component.slider.js')
    script.

        createComponentSlider('.tpp', {
            name: 'Slider Name',
            desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
            min: 20,
            max: 100
        }, function (val) {
            console.log(val);
        });

        createComponentSlider('.tpp', 40, 80, function (val) {
            console.log(val);
        });

        createComponentSlider('.tpp', 200, 20000, function (val) {
            console.log(val);
        });

