extends ../layout
block content

    .sliderWrapper
        //.component
            .name Slider Name
            .slider
                .point
                    .num 30
                        .pin
                .bar
                .min 20
                .max 100

            .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    .dropDownWrapper
        //.component
            .name Dropdown Name
            .dropDown
                .content DropDown list
                .arrow.i.material-icons arrow_drop_down
                .dropDownList
                    .list List Example 1
                    .list List Example 2
                    .list List Example 3


            .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.




    script.
        createComponentSlider('.sliderWrapper', {
            name: 'Slider Name',
            desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
            min: 20,
            max: 100,
            value: 50,
        }, function (val) {
            console.log(val);
        });

        createComponentDropDown('.dropDownWrapper', {
            name: 'Slider Name',
            desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
            listItem: ['List Example 1', 'List Example 2', 'List Example 3'],
            selected: 'List Example 2',
        }, function (val) {
            console.log(val);
        });

