extends ../layout
block content

    .sliderWrapper
        //.component
            .name Slider Name
            .slider
                .point
                    .num 30
                        .pin
                .bar
                .min 20
                .max 100

            .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    .dropDownWrapper
        //.component
            .name Dropdown Name
            .dropDown
                .content DropDown list
                .arrow.i.material-icons arrow_drop_down
                .dropDownList
                    .list List Example 1
                    .list List Example 2
                    .list List Example 3


            .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    .listWrapper
        .component
            .list#sort
                .item 1
                .item 2
                .item 3
                .item 4
                .item 5


    <ul id="sortable">
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
    </ul>



    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    script.
        ComponentSlider('.sliderWrapper', {
            name: 'Slider Name',
            desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
            min: 20,
            max: 100,
            value: 50,
        }, function (val) {
            console.log(val);
        });

        createComponentDropDown('.dropDownWrapper', {
            name: 'Slider Name',
            desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
            listItem: ['List Example 1', 'List Example 2', 'List Example 3'],
            selected: 'List Example 2',
        }, function (val) {
            console.log(val);
        });
        adjustListMovable($('.list'), function(evt){
            console.log(evt);
        });
