extends ../layout
block content

    .tpp
        //.slider
            .point
                .num 30
                    .pin
            .bar

    style.
        .tpp {
            width: 300px;
            margin: 100px auto;
        }


    //<div class="range-slider" id="range-slider-1">
    //<span></span>
    //</div>
    //
    //<div class="test-result" id="test-result">0%</div>
    script(src='/component/component.slider.js')
    script.
        createSlide('.tpp', 0, 20, function (val) {
            console.log(val);
        });

        createSlide('.tpp', 40, 80, function (val) {
            console.log(val);
        });

        createSlide('.tpp', 200, 20000, function (val) {
            console.log(val);
        });

