@mixin rotate($degree)
  -webkit-transform: rotate($degree)
  -moz-transform: rotate($degree)
  -o-transform: rotate($degree)
  -ms-transform: rotate($degree)
  transform: rotate($degree)

@mixin borderRight($borderColor)
  border-right: solid 1px $borderColor

@mixin borderBottom($borderColor)
  border-bottom: solid 1px $borderColor

@mixin borderTop($borderColor)
  border-top: solid 1px $borderColor

@mixin borderLeft($borderColor)
  border-left: solid 1px $borderColor

@mixin inlineBlock()
  display: inline-block
  vertical-align: top

@mixin transformScaleRotate($x, $y, $deg)
  -ms-transform: scale($x, $y) rotate($deg)
  -webkit-transform: scale($x, $y) rotate($deg)
  transform: scale($x, $y) rotate($deg)

@mixin transformScale($x, $y)
  -ms-transform: scale($x, $y)
  -webkit-transform: scale($x, $y)
  transform: scale($x, $y)

@mixin transformPositionScale($px,$py,$x, $y)
  -ms-transform: translate($px, $py), scale($x, $y)
  -webkit-transform: translate($px, $py), scale($x, $y)
  transform: translate($px, $py), scale($x, $y)

@mixin pre
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word
