/* nav */
$nav-color: #fff
$nav-height: 48px

/* tab */
$tab-color: #ffffff
$tab-menu-width: 60px
$tab-menu-width-open: 200px
$tab-item-height: 40px
$tab-item-color: #737373
$setting-tab-width: 330px


/* site color */

$main-bg-color: #fff
$main-font-color: #000
$main-font-color-b1: lighten($main-font-color, 20)
$main-font-color-b2: lighten($main-font-color, 40)
$main-font-color-b3: lighten($main-font-color, 60)
$main-font-color-b4: lighten($main-font-color, 90)
//$point-color: #0099E8
$point-color: #0188E5
$point-color-2: #ff5e7C
$main-inv-color: #fff



$main-color: #4b4b4b
$main-hover-color: #6a6a6a
$main-background-color: #ffffff
$accent-color: #ff6955
$accent-hover-color: #ee624f

$main-inv-color-1: #d1d1d1
$hover-color: #eee
$border-color: #dbdbdb
$active-item-color: #9f9f9f
$inactive-item-color: #ccc

/* font size */

$font-size-0: 11px
$font-size-1: 13px
$font-size-2: 15px
$font-size-3: 17px
$font-size-4: 22px
$font-size-5: 28px
$font-size-6: 50px
$font-size-jumbo: 75px

/* font weight */

$font-weight-7: 700
$font-weight-6: 600
$font-weight-5: 500
$font-weight-4: 400
$font-weight-3: 300
$font-weight-2: 200
$font-weight-1: 100

/* icon font size */

$icon-font-size-1: 14px
$icon-font-size-2: 19px
$icon-font-size-3: 24px
$icon-font-size-4: 28px
