$nav-color: #fff
$nav-height: 48px

$tab-color: #ffffff
$tab-menu-width: 60px
$tab-menu-width-open: 200px

$tab-item-height: 40px
$tab-item-color: #737373

$setting-tab-width: 330px

$main-color: #3C3C3C
$main-background-color: #7b7b7b
$accent-color : #FAA332
$main-font-color: #343434
//$main-background-color-d1 : darken($main-background-color, 10)

$main-inv-color : #fff
$main-inv-color-1 : #d1d1d1

$hover-color: #eee
$border-color: #dbdbdb


$active-item-color: #494949
$inactive-item-color: #ccc

$font-size-0: 11px
$font-size-1: 13px
$font-size-2: 15px
$font-size-3: 17px
$font-size-4: 18px
$font-size-5: 22px

$font-weight-7: 700
$font-weight-6: 600
$font-weight-4: 400
$font-weight-2: 200
$font-weight-1: 100

$icon-font-size-1: 14px
$icon-font-size-2: 19px
$icon-font-size-3: 24px
