$nav-color: #fff
$nav-height: 50px

$tab-color: #ffffff
$tab-menu-width: 60px
$tab-menu-width-open: 200px

$tab-item-height: 40px
$tab-item-color: #737373

$setting-tab-width: 330px

$white-color: #fff
$main-color: #286fe8
$main-background-color: #2973FF
$main-font-color: #082a62
$main-background-color-d1 : darken($main-background-color, 10)

$main-inv-color : #fff
$main-inv-color-1 : #CFD8DC

$hover-color: #ebf6ff
$border-color: #e1e1e1

$active-item-color: #494949
$inactive-item-color: #ccc

$font-size-1: 13px
$font-size-2: 15px
$font-size-3: 17px
$font-size-4: 18px
$font-size-5: 22px

$font-weight-7: 700
$font-weight-6: 600
$font-weight-4: 400
$font-weight-2: 200
$font-weight-1: 100

$icon-font-size-1: 14px
$icon-font-size-2: 19px
$icon-font-size-3: 24px
