@import "values"

.contextmenu-wrapper
  // must top
  position: fixed
  z-index: 999999
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  display: none
  box-sizing: border-box
  &.open
    display: block
  .contextmenu
    position: fixed
    z-index: 999999
    width: 200px
    background: #fff
    border: solid 1px #ccc
    .header
      box-sizing: border-box
      height: 25px
      width: 100%
      font-size: 12px
      padding-left: 15px
      line-height: 25px
      background: #dddddd
      color: #444444
      font-weight: 800

    .item
      min-height: 40px
      line-height: 40px
      padding-left: 10px
      font-size: 20px
      cursor: pointer
      transition: background .15s
      &:hover
        background: #666666
        color: #ffffff

.context-window-wrapper
  position: fixed
  left: 0
  top: 0
  z-index: 999999
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.5)
  $context-window-header-height: 30px
  .context-window
    width: 600px
    background: #fff
    border: solid 1px #ccc
    margin: 20vh auto 0
    position: relative
    .header
      width: 100%
      height: $context-window-header-height
      line-height: $context-window-header-height
      font-size: 13px
      font-weight: 800
      background: #ccc
      text-align: center
    .closer
      position: absolute
      top: 0
      right: 0
      cursor: pointer
      line-height: $context-window-header-height
      text-align: center
      width: $context-window-header-height
      height: $context-window-header-height
    .content
      background: #f00
      height: 200px


