@import "../util"
@import "../values"

*
  font-family: 'Roboto', sans-serif

$action-size: 20px
$item-height: 45px


.nav-spacer
  height: $nav-height

.page
  max-width: 1240px
  margin: 30px auto 0
  padding: 20px
  box-sizing: border-box
  .grid
    margin-top: 50px
    .cell
      padding: 0 20px
      box-sizing: border-box
      .header
        width: 100%
        display: table
        margin-bottom: 20px
        @include borderTop($main-font-color-b3)
        padding-top: 15px
        .text
          font-size: $font-size-2
          font-weight: $font-weight-4
          display: table-cell
          vertical-align: top
          color: $main-font-color
          line-height: $action-size
        .actions
          .action
            float: right
            @include borderRadius(50%)
            line-height: $action-size
            text-align: center
            display: table-cell
            //background: $point-color
            color: $point-color
            vertical-align: top
            font-size: $icon-font-size-3
            font-weight: $font-weight-5
            cursor: pointer

      .contents
        font-size: $font-size-1
        font-weight: $font-weight-3
        line-height: $font-size-3
        white-space: pre-wrap
        color: $main-font-color-b1
        .item
          height: $item-height
          line-height: $item-height
          @include borderTop($border-color)
          color: $main-font-color-b2
          small
            font-size: $font-size-0
            color: $main-font-color-b3
      &.grid-12
        @include inlineBlock
        width: 100%
        .contents
          font-size: $font-size-4
          font-weight: $font-weight-4
          line-height: $font-size-5
          white-space: pre-wrap
          color: $main-font-color
        .header
          padding-top: 20px
          border-top: solid 2px $main-font-color-b3
          .text
            font-size: $font-size-6
            font-weight: $font-weight-4
            display: table-cell
            vertical-align: top
            color: $point-color
            line-height: $font-size-6
      &.grid-7
        @include inlineBlock
        width: calc(100% / 12 * 7)
      &.grid-5
        @include inlineBlock
        width: calc(100% / 12 * 5)
      &.grid-4
        @include inlineBlock
        width: calc(100% / 12 * 4)
      &.grid-3
        @include inlineBlock
        width: calc(100% / 12 * 3)

