@import "../_util"
@import "../_values"

.nav
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: $nav-height
  line-height: $nav-height
  background-color: $main-background-color
  z-index: 1001
  @include borderBottom($border-color)
  .logo
    display: inline-block
    width: $tab-menu-width
    text-align: center
    line-height: $nav-height
    font-size: $icon-font-size-2
    font-weight: $font-weight-6
    color: $main-font-color-b2
    cursor: pointer
  .header
    vertical-align: top
    display: inline-block
    line-height: inherit
    font-weight: $font-weight-4
    font-size: $font-size-3
    color: $main-font-color-b2
    cursor: pointer
  .rightGroup
    padding-right: 10px
    float: right
    height: inherit
    position: absolute
    width: 100%
    top: 0
    box-sizing: border-box
    pointer-events: none
    .logined, .logouted
      position: absolute
      right: 0
      padding-right: 10px
      height: inherit
      pointer-events: all
      .icon
        display: inline-block
        vertical-align: top
        cursor: pointer
        margin: 8px
        background: #fff
        width: $nav-height - 16px
        height: $nav-height - 16px
        line-height: $nav-height - 16px
        text-align: center
        color: #000
        border-radius: 50%
      .button
        display: inline-block
        vertical-align: top
        cursor: pointer
        margin: 11px 7px
        height: $nav-height - 22px
        line-height: $nav-height - 22px
        text-align: center
        color: $main-font-color
        font-weight: $font-weight-4
        font-size: $font-size-1
        padding: 0 8px
        pointer-events: all
      .name
        height: $nav-height
        display: inline-block !important
        vertical-align: top
        color: $main-font-color
        font-size: $font-size-1
      &.hide
        display: none
      //test
      label
        cursor: pointer
      #uploadTest
        opacity: 0
        position: absolute
        z-index: -1

$toast-width: 400px
$toast-width-half: $toast-width/2
#toast
  position: fixed
  left: calc(50vw - #{$toast-width-half})
  margin: 0 auto
  width: $toast-width
  z-index: 10000
  background: #444
  color: #fff
  font-size: $font-size-1
  opacity: 0
  transition: all .3s
  bottom: 50px
  padding: 15px 50px 15px 15px
  @include transformScale(0.7, 0.7)
  pointer-events: none
  .closer
    position: absolute
    top: 0
    right: 0
    padding: 10px
    cursor: pointer
  &.open
    @include transformScale(1, 1)
    opacity: 1
    pointer-events: all

#dialogWrapper
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  z-index: 10000
  background: rgba(0, 0, 0, 0.65)
  transition: all .3s
  color: $main-color
  opacity: 0
  pointer-events: none
  .dialog
    @include transformScale(0.7, 0.7)
    transition: all .3s
    width: $toast-width
    margin: 200px auto auto
    background: #fff
    padding: 20px
    .title
      font-size: $font-size-4
      font-weight: $font-weight-6
      padding: 10px 0
    .text
      font-size: $font-size-1
      line-height: $font-size-3
      word-break: break-all
    .content
      padding: 10px
      max-width: 100%
    .actionGroup
      padding-top: 20px
      height: 40px
      .pos, .neg
        cursor: pointer
        float: right
        padding: 0 15px
        font-size: $font-size-2
        color: $accent-color
        line-height: 40px
        font-weight: $font-weight-6
        &:hover
          color: $accent-hover-color
  &.open
    opacity: 1
    pointer-events: all
    .dialog
      @include transformScale(1, 1)

.modalWrapper
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  pointer-events: none
  background: rgba(0, 0, 0, .65)
  color: $main-color
  padding: 100px 0
  box-sizing: border-box
  z-index: 10000
  opacity: 0
  transition: all .3s
  .modal
    overflow-y: hidden
    transition: all .3s
    @include transformScale(0.7, 0.7)
    max-height: 100%
    width: 800px
    background: #fff
    margin: 0 auto
    position: relative
    font-size: $font-size-1
    color: $main-font-color-b2
    &#modalDimensionFieldMaker
      height: 100%
    .title
      position: relative
      padding: 15px
      font-size: $font-size-1
      font-weight: $font-weight-4
      background-color: #222
      color: $main-inv-color
    .closer
      position: absolute
      font-size: $icon-font-size-1
      right: 15px
      top: 15px
      color: $main-inv-color
      cursor: pointer
    .header
      font-size: $font-size-0
      padding: 15px 0 7px
      color: $main-font-color-b2
      font-weight: $font-weight-4
    .content
      max-height: calc(100vh - 380px)
      overflow-y: auto
      padding: 20px
      font-size: $font-size-1
      input, textarea
        color: $main-font-color-b2
        width: 100%
        resize: none
        outline: none
        box-sizing: border-box
        font-size: $font-size-1
        font-weight: $font-weight-4
        line-height: $font-size-2
        @include borderAll($border-color)
        padding: 10px
        transition: border .3s
        &:focus, &:active
          @include borderAll($point-color)
          transition: border .3s
      textarea
        height: 90px
      .desc
        padding: 10px
        width: calc(100% - 20px)
        font-size: $font-size-0
        line-height: $font-size-1 + 3px
        font-weight: $font-weight-4
        color: $main-font-color
        white-space: pre-line
        text-align: justify

      .list.axis
        box-sizing: border-box
        background: #fff
        width: 100%
        .title, .item
          padding: 0 10px 0
          display: table
          background: #fff
          box-sizing: border-box
          height: 30px
          line-height: 30px
          width: 100%
          @include borderBottom($border-color)
          color: $main-font-color-b2
          font-size: $font-size-0
          font-weight: $font-weight-4
          .checkbox, .axis, .value
            display: table-cell
            vertical-align: middle
          .value
            text-align: center
            width: 50px
          .checkbox
            width: 25px
            line-height: 30px
            cursor: default
            color: $point-color
            font-size: $icon-font-size-1
            &.unchecked
              color: $main-font-color-b2
    .footer
      height: 50px
      padding: 20px 20px 10px
      .pos, .neg
        border-radius: 50%
        cursor: pointer
        @include inlineBlock
        float: right
        width: 35px
        height: 35px
        line-height: 35px
        background: $point-color
        color: $main-inv-color
        font-size: $icon-font-size-2
        font-weight: $font-weight-4
        margin-left: 10px
        text-align: center
        &:hover
          background: #00B7FF
  &.open
    opacity: 1
    pointer-events: all
    transition: all .3s
    .modal
      transition: all .3s
      @include transformScale(1, 1)



